<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>GeekLab - Using Hacker Culture to build awesome products</title>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />

	<link href="{%static 'img/mysite/favicon.ico'%}" rel="shortcut icon" />

	<link href="{%static 'css/main.css'%}" rel="stylesheet" />
	<link href="{%static 'css/mysite/flat-ui.css'%}" rel="stylesheet" />
	<link href="{%static 'css/mysite/icon-font.css'%}" rel="stylesheet" /><!-- end -->
	<link href="{%static 'css/mysite/style.css'%}" rel="stylesheet" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
<div class="page-wrapper"><!-- header-10 -->
<header class="header-10 navbar navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar col-sm-12" role="navigation">
<div class="navbar-header"><button class="navbar-toggle" type="button"></button><a class="brand" href="#"><img alt="" height="50" src="{%static 'img/mysite/logo@2x.png'%}" width="50" />GeekLab</a></div>

<div class="collapse navbar-collapse pull-right">
<ul class="nav pull-left">
	<li><a href="#home" onclick="ScrollTo()">Home</a></li>
	<li><a href="#about" onclick="ScrollTo()">About</a></li>
	<li><a href="#team" onclick="ScrollTo()">Team</a></li>
	<li><a href="#contact" onclick="ScrollTo()">Contact</a></li>
	<li><a href="http://geeklab.in/blog/">Blog</a></li>
</ul>

<form class="navbar-form pull-left"><a class="btn btn-info" href="/student">Request Beta Access</a></form>
</div>
</div>
</div>
</header>

<section class="header-10-sub v-center bg-midnight-blue" id="home">
<div class="background"></div>

<div>
<div class="container">
<div class="hero-unit">
<h1>Using <strong>Hacker Culture</strong> to build awesome products.</h1>

<p>We are not just creating a platform, we are creating an <strong>ecosystem</strong>. One where the student fraternity, academia and tech organisations co-exist - mutually benefitting each other.<br />
<br />
Keep reading.</p>
</div>
</div>
</div>
</section>
<!-- content-8  -->

<section class="content-8 v-center">
<div>
<div class="container"><img alt="" height="700" src="{%static 'img/mysite/img-1@2x.jpg'%}" width="1000" />
<div class="row">
<div class="col-sm-6 col-sm-offset-3"></div>
</div>
</div>
</div>
</section>
<!-- 3 Categories  -->

<section class="header-11-sub bg-concrete" id="about">
<div class="row mt centered">
<div class="col-lg-6 col-lg-offset-3">
<h3>One platform connects all.</h3>

<p>Select your category below to see what we offer.</p>
</div>
</div>
<!-- /row -->

<div class="row mt centered">
<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/corporate.png'%}" width="245" />
<p><a class="btn btn-primary btn-lg" href="#corporate" onclick="ScrollTo()">For Recruiters</a></p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/student.png'%}" width="245" />
<p><a class="btn btn-primary2 btn-lg" href="#students" onclick="ScrollTo()">For Students</a></p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/academia.png'%}" width="245" />
<p><a class="btn btn-primary3 btn-lg" href="#academia" onclick="ScrollTo()">For Academia</a></p>
</div>
<!--/col-lg-4 --></div>
<!-- /row --></section>
<!-- Corporate -->

<section class="header-11-sub bg-turquoise" id="corporate">
<div class="row mt centered">
<div class="col-lg-6 col-lg-offset-3">
<h2>#include&lt;corporate&gt;</h2>
&nbsp;

<h3>Boost development. Find talent</h3>

<p>Use our platform to get detailed development reports on your projects and get direct access to our student collaboration base.</p>
</div>
</div>
<!-- /row -->

<div class="row mt centered">
<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/Games@2x.png'%}" width="180" />
<h4>1 - Supercharged Development</h4>

<p>We use Gamification to turn your projects into hackathons and online coding contests, while our student members compete to get them done.</p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/Clipboard@2x.png'%}" width="180" />
<h4>2 - Comprehensive Reporting</h4>

<p>Receive detailed reports on your project&#39;s progress. Use our tools to analyze, give feedback or test modules.</p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/Mortarboard@2x.png'%}" width="245" />
<h4>3 - Discover Talent</h4>

<p>Get access to our user base of students and academic mentors.</p>
</div>
<!--/col-lg-4 --></div>
<!-- /row --></section>
<!-- Students -->

<section class="header-11-sub bg-peter-river" id="students">
<div class="row mt centered">
<div class="col-lg-6 col-lg-offset-3">
<h2>#include&lt;students&gt;</h2>
&nbsp;

<h3>Learn. Innovate. Share.<br />
And get noticed by awesome companies.</h3>

<p>Our platform gives you access to a ecosystem where you get an overview of the corporate world.</p>
</div>
</div>
<!-- /row -->

<div class="row mt centered">
<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/Bulb@2x.png'%}" width="180" />
<h4>1 - Showcase Your Mettle.</h4>

<p>Share your ideas in a platform that encourages innovation, and showcase your talents to the world. Earn points, badges and goodies while you&#39;re at it.</p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/Shield@2x.png'%}" width="160" />
<h4>2 - Participate In Events</h4>

<p>Participate in our events, battle it out at our hackathons, collaborate with projects, climb higher in the Leaderboard, and when you&#39;re ready, even travel with us as a Speaker or maybe, get featured. Sounds fun, right?</p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/Girl@2x.png'%}" width="180" />
<h4>3 - Get Noticed</h4>

<p>Get noticed by the HR personnel of awesome companies, and connect with amazing mentors on the platform to help you with your projects.</p>
</div>
<!--/col-lg-4 --></div>
<!-- /row --></section>
<!-- Academia -->

<section class="header-11-sub bg-amethyst" id="academia">
<div class="row mt centered">
<div class="col-lg-6 col-lg-offset-3">
<h2>#include&lt;academia&gt;</h2>
&nbsp;

<h3>Open a Chapter at your college today.<br />
And grow with it.</h3>

<p>Get unique landing pages for your institution and its mentors, offer courses and challenges and forge better industry connections for recruitment.</p>
</div>
</div>
<!-- /row -->

<div class="row mt centered">
<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/retina@2x.png'%}" width="180" />
<h4>1 - Be A Mentor</h4>

<p>Mentor an individual student or a project group, speak at our events and teach what you love while the entire community listens to you.</p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/Calendar@2x.png'%}" width="180" />
<h4>2 - Organize Local Events</h4>

<p>Organize local workshops, seminars and hackathons at your Chapter with our help. Get better industry participation and transform the tech scene at your institution.</p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" src="{%static 'img/mysite/Graph@2x.png'%}" width="180" />
<h4>3 - Grow With Your Students</h4>

<p>While your students get better internships and industry exposure, growth will never be only unidirectional any more.</p>
</div>
<!--/col-lg-4 --></div>
<!-- /row --></section>
<!-- content-23  -->

<section class="content-23 v-center bg-midnight-blue custom-bg" id="why">
<div>
<div class="container">
<div class="hero-unit hero-unit-bordered">
<h1>We + Technology = &lt;3</h1>
</div>
</div>
</div>
</section>
<!-- Meet The Team -->

<div class="container" id="team">
<div class="row mt centered">
<div class="col-lg-6 col-lg-offset-3"><br />
<br />
<br />
<br />
<br />
<br />
&nbsp;
<h3>Team GeekLab.</h3>
&nbsp;

<p>We are a diverse, crazy, yet motivated group of tech enthusiasts who are striving to create a better, more connected world. And we are only getting started.</p>
</div>
</div>
<!-- /row -->

<div class="row mt centered">
<div class="col-lg-4"><img alt="" class="img-circle" src="{%static 'img/mysite/pic1.jpg'%}" width="140" />
<h4>Rohaan Goswami</h4>

<p><strong>Operations</strong></p>

<p></p>

<p></p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" class="img-circle" src="{%static 'img/mysite/pic2.jpg'%}" width="140" />
<h4>Anurag Kumar</h4>

<p><strong>Engineering</strong></p>

<p></p>

<p></p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" class="img-circle" src="{%static 'img/mysite/pic3.jpg'%}" width="140" />
<h4>Aman Nagar</h4>

<p><strong>Product</strong></p>

<p></p>

<p></p>
</div>
<!--/col-lg-4 --></div>
<!-- /row --><!-- Advisory Board -->

<hr />&nbsp;
<div class="row mt centered">
<div class="col-lg-6 col-lg-offset-3">
<h3>Our Advisory Board.</h3>
&nbsp;

<p>We are supported by a veteran and prominent team of advisors who believe in our vision and help give robustness to our endeavour.</p>
</div>
</div>
<!-- /row -->

<div class="row mt centered">
<div class="col-lg-4"><img alt="" class="img-circle" src="{%static 'img/mysite/pic4.jpg'%}" width="140" />
<h4>Anupam Agarwal</h4>

<p><strong>Chair, Internet Society (ISOC) Kolkata Chapter</strong></p>

<p>Anupam has been involved with ISOC&#39;s local and Indian projects for a long time. He has immense knowledge and experience with business management and operations.</p>

<p></p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" class="img-circle" src="{%static 'img/mysite/pic5.jpg'%}" width="140" />
<h4>Anand Raje</h4>

<p><strong>Director, RABT Technologies Pvt. Ltd.</strong></p>

<p>A thorough and well-versed geek himself, Anand took to entrepreneurship and now runs two very successful companies - RABT Tech and BASIS Technologies. He acts as GeekLab&#39;s technical advisor.</p>

<p></p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" class="img-circle" src="{%static 'img/mysite/pic6.jpg'%}" width="140" />
<h4>Kamanashish Roy</h4>

<p><strong>CEO, Debate.fm</strong></p>

<p>Kamanashish is what you call a serial entrepreneur. He has co-founded and established atleast 4 internet companies, and is a marketing and design wizard.</p>

<p></p>
</div>
<!--/col-lg-4 --></div>
<!-- /row -->

<div class="row mt centered">
<div class="col-lg-4"></div>
<!--/col-lg-4 -->

<div class="col-lg-4"><img alt="" class="img-circle" src="{%static 'img/mysite/pic7.jpg'%}" width="140" />
<h4>Tusharkanti Bhakta</h4>

<p><strong>Retd. Registration Officer, Govt. of West Bengal</strong></p>

<p>Being a ex-officer in the Government Registration Department, Bhakta has thorough knowledge and understanding of corporate law and organisational structures. He assists GeekLab with all legal matters.</p>

<p></p>
</div>
<!--/col-lg-4 -->

<div class="col-lg-4"></div>
<!--/col-lg-4 --></div>
<!-- /row --></div>
<!-- /container --><!-- content-8  -->

<section class="content-8 v-center bg-silver" id="signup">
<div>
<div class="container"><img alt="" height="187" src="{%static 'img/mysite/ticket-red@2x.png'%}" width="380" />
<h3>Almost there. We are launching soon.</h3>

<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<!-- p>While we finish last minute touches to our platform, you can sign up below and we will notify you when we are ready.<br />
<br />
No spam. You have our word.<br />
<br />
See you soon!</p-->
</div>
</div>
</div>
</div>
</section>
<!-- content-13  -->

<!--section class="content-13 subscribe-form bg-turquoise">
<div class="container">
<div class="row">
<form>
<div class="col-sm-8"><input placeholder="Enter your e-mail" spellcheck="false" type="text" /></div>

<div class="col-sm-4"><button class="btn btn-large btn-primary" type="submit">Notify Me</button></div>
</form>
</div>
</div>
</section -->
<!-- footer-3 -->

<footer class="footer-3" id="contact">
<div class="container">
<div class="row v-center">
<div class="col-sm-7">
<div class="additional-links">Copyright &copy; 2014 GeekLab Technologies LLP<br />
An initiative of <a href="#">RABT Technologies Pvt. Ltd.</a></div>
<br />
<br />
<iframe height="250" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fgeeeklab.in/&amp;width=430&amp;height=240&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" width="450"></iframe></div>

<div class="col-sm-2"></div>

<div class="col-sm-3"><a class="brand" href="#"><img alt="" height="50" src="{%static 'img/mysite/logo@2x.png'%}" width="50" /></a><br />
&nbsp;
<h5>GeekLab Technologies LLP</h5>

<div class="address">17/19, K. P. Roy Lane, C2 Dhakuria, Kolkata, India - 700 031</div>
&nbsp;

<h6>Get In Touch</h6>

<div class="additional-links">033 - 32624466<br />
hello@geeklab.in</div>
</div>
</div>
</div>
</footer>
</div>
<!-- Placed at the end of the document so the pages load faster -->

<script src="{%static 'js/jquerymin1.11.js'%}"></script>


<script src="{%static 'js/jquerymin1.11.js'%}"></script>
<script src="{%static 'js/main.min.js'%}"></script>

<script src="{%static 'js/mysite/modernizr.custom.js'%}"></script>
<script src="{%static 'js/mysite/jquery.scrollTo-1.4.3.1-min.js'%}"></script>
<script src="{%static 'js/mysite/jquery.parallax.min.js'%}"></script>
<script src="{%static 'js/mysite/startup-kit.js'%}"></script>
<script src="{%static 'js/mysite/jquery.backgroundvideo.min.js'%}"></script>
<script src="{%static 'js/mysite/script.js'%}"></script><script>

    function ScrollTo () {
    $('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1500);
    return false;
});
}

    </script>

</body>
</html>
