.sidebar > li > a, .navbar-right > li > a{
  color: #fff !important;
}

a:hover{
	color: none;
	}


.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

.new-panel{
      font-size: 15px;
    background-color: #2EA2CC;
    color: #FFF;
    padding: 13px;
    border-radius: 3px;
    box-shadow: 0px 1px 0px rgba(120, 200, 230, 0.698) inset, 0px 1px 1px rgba(0, 0, 0, 0.6);
    font-family: latoregular,Arial,sans-serif;
}

.p-main{

  min-height: 500px;

}

.search-plus{
  margin-top: 10px;

}

.side-nav{
  background-color: #536F79 !important;

}

.home-alert{
  padding: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}

.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}

.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}

.navbar-footer 
{
    background-color: #34495E;
}

.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.space{
  margin-bottom: 10px !important;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

/*--------------- notification panel ------------ */


.panel-body{
  padding: 5px !important;
}

.notify{
  width: 250px;
}
/*----notification panel ---  */

/*----notification panel ---  */

.overview{
  margin-bottom: 20px;

}


/*----notification panel ---  */