<!DOCTYPE html>
{% load static %}

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Geeklab</title>

    <!-- Core CSS - Include with every page -->
    <link href="{%static 'css/main.min.css'%}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{%static 'css/corporate/sb-admin.css'%}" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form class="omb_loginForm" action="/corporate/login" method="POST" name="loginForm">{% csrf_token %}

                            <fieldset>
                                <div class="form-group" >
                                        
                                    <input class="form-control" placeholder="username" name="username" type="username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="{%static 'js/jquery-1.11.1.js'%}"></script>
    <script src="{%static 'js/main.min.js'%}"></script>
    <script src="{%static 'js/corporate/plugins/metisMenu/jquery.metisMenu.js'%}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{%static 'js/corporate/sb-admin.js'%}"></script>

</body>

</html>
