
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
  
   <title>
   Geeklab
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
        
       
        <link rel="stylesheet" href="{%static 'css/main.css'%}"/>
        <link rel="stylesheet" href="{%static 'css/student/layout.css'%}"/>
        
        <link href="{%static 'css/corporate/plugins/timeline/timeline.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        
        <link href="{%static 'css/main.min.css'%}" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
    </head>
    
    <body>

			<div class="container">

						<nav class="navbar navbar-default" role="navigation">
							<div class="nav">
							  <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
							
								    <a class="navbar-brand" href="/">Geeklab</a>
								</div>
								<div class="collapse navbar-collapse" id="navbarCollapseDiv">
								   	
									<form class="navbar-form navbar-left" role="search">
								        <div class="form-group">
								          <input type="text" class="form-control" placeholder="Search" name="q">
								        
								        <button class="btn btn-default search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								        </div>
								     </form>		      
									
									
									   <ul class="nav navbar-nav navbar-right">
                                    	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
                                        <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <img src="{%static 'img/profile.jpg'%}"
                                                                alt="Alternate Text" class="img-responsive space" />
                                                            <!--p class="text-center small">
                                                                <a href="#">Change Photo</a></p-->
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span class='username'></span>
                                                            <p class="text-muted small">
                                                                mail@gmail.com</p>
                                                            <div class="divider">
                                                            </div>
                                                            <!--a href="#" class="btn btn-primary btn-sm active">View Profile</a-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="navbar-footer">
                                                    <div class="navbar-footer-content">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                            	{% if not info.edit == None %}
                                                                <a href="/student/{{info.username}}/edit" class="btn btn-default btn-sm dashboard-btn">edit profile</a>
                                                                {% endif %}

                                                                {% if info.edit == None %}
                                                                <a href="/student/{{user.username}}/profile" class="btn btn-default btn-sm dashboard-btn">done editing</a>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a href="/logout" class="btn btn-default btn-sm pull-right dashboard-btn">Sign Out</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

									
								</div>
							</div><!-- /.navbar-collapse -->
						</nav>	

						
						
						<div class="well">
							<div class="row">
								{% block edit %} {% endblock %}

								{% block left-sidebar %} {% endblock %}

								{% block profile %} {% endblock %}

							</div> <!-- row ends -->
					    </div> 	<!-- well ends -->

					    <div class="col-md-12 text-center footer">
							<p>Copyright © 2014 GeekLab LLP </p>
						</div>

			</div> <!--  container ends   -->

	
<script src="{%static 'js/jquerymin1.11.js'%}"></script>
<script src="{%static 'js/student/base.js'%}"></script>
<script src="{%static 'js/main.min.js'%}"></script>
<script src="{%static 'js/jquery-ui.js'%}"></script>



</body>

</html>
