{% extends "base.html" %}
{% load static %}

{% block left-sidebar %}

<div class="col-md-3 nav-side">
    
        <div class="sidebar">
            <div class="sidebar-head">
                <strong>Overview</strong>
            </div>

            <div class="list-group ">

                <img src="{%static 'img/mine.jpg'%}" alt="Alternate Text" class="img-responsive space space-bottom"/>

                <span class=" username list-group-item"></span>
                <a href="" target="_blank" class="homepage_url list-group-item"></a>  
                <a href="#projects" class="list-group-item">Chapter:</a>
            
                <a href="#" class="list-group-item">Follower:</a>
                <a href="#" class="list-group-item">Following:</a>

            </div>
                        <!-- /#side-menu -->
        </div>
                    <!-- /.sidebar-collapse -->

        <!--div class="sidebar">

            <div class="sidebar-head">
                <strong>Notifications</strong>
            </div>
           
            <div class="list-group">
                <a href="#" class="list-group-item"> New Comment </a>

                <a href="#" class="list-group-item"> 2 New Followers</a>
                
                <a href="#" class="list-group-item"> New Proposal</a>
                
                <a href="#" class="list-group-item">New Question in Forum</a>              
            </div>
           
            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
               
        </div-->
            


        <div class="sidebar">

            <div class="sidebar-head">
                <strong>Similar Users</strong>
            </div>
            <!-- /.panel-heading -->
            
        </div>  
        
                
</div>

{% endblock %}


{% block profile %}
    <div class="col-md-8 timelines1 float-left">
        <div class="row option-top" >

            <div class="btn-group btns">
            
                <a href="#meaningful" role="button"><img class="random-img hover" src="{%static 'img/student/code.png'%}" /></a><p class="text"> Submit Code</p>

            </div>
            <div class="btn-group btns">
                <a href="#meaningful" role="button"><img class="random-img hover" src="{%static 'img/student/ask.png'%}" /></a><p class="text">Seek Guidance</p>

            </div>
            <div class="btn-group btns">
               <a href="#meaningful" role="button"><img class="random-img hover" src="{%static 'img/student/answer.png'%}" /></a><p class="text">Submit an Answer</p>

            </div>
            <div class="btn-group btns">
                <a href="#meaningful" role="button"><img class="random-img hover" src="{%static 'img/student/idea.png'%}" /></a><p class="text">Submit an Idea</p>

            </div>

            <div class="btn-group btns">
                <a href="#meaningful" role="button"><img class="random-img hover" src="{%static 'img/student/apply.png'%}" /></a><p class="text">Submit proposal</p>

            </div>
            <div class="btn-group btns">
                <button class="btn btn-primary option-top1 dropdown-toggle" data-toggle="dropdown" type="button">  + </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#meaningful" role="button"><img class="random-img1" src="{%static 'img/student/review.png'%}" />Review</a></li>
                            <li class="divider"></li>

                        <li><a href="#meaningful" role="button"><img class="random-img1" src="{%static 'img/student/guidance.png'%}" />Seek Guidance</a></li>
                            <li class="divider"></li>

                        <li><a href="#meaningful" role="button"><img class="random-img1" src="{%static 'img/student/event.png'%}" />Participate in an event</a></li>
                            <li class="divider"></li>

                        <li><a href="#meaningful" role="button"><img class="random-img1" src="{%static 'img/student/chapter.png'%}" />Join a Chapter</a></li>
                   </ul>     
          
            </div>
        </div>

    </div>

	<div class="col-md-8 timelines float-left">

        <div class="panel panel-default">
            <div class="panel-heading">
                 Timeline
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Timeline Event</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-time"></i> 11 hours ago via Twitter</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Timeline Event</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger"><i class="fa fa-credit-card"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Timeline Event</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Timeline Event</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"><i class="fa fa-save"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Timeline Event</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                                <hr>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i> 
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Timeline Event</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Timeline Event</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
                    <!-- /.panel -->
    </div>

{% endblock %}

							

		
		