{% extends "base.html" %}
{% load static %}

{% block profile %}

		<div class="edit">

        	<div class="col-md-11">

        			<div class="editprofile-pic float-left" >
                		<div class="pic float-left ">
	                    	<img class="default" src="{%static 'img/profile.jpg'%}"/> 

	                    	<form id="add-picture-form" method="POST" action="" enctype="multipart/form-data">{%csrf_token %}  

	                    		<div class="pic-upload">

	                    			<input type="file" class="file" id="editavatar" onChange="$('#add-picture-form').submit();" /> 
	                    	
	                    		</div>
	                    	</form>
	                    </div>
	                </div>

	                <div class="result"></div>

                <div class="panel col-md-9">
                	<div class="profile">
                    
	                	<div class="edit-info float-right"> 

		        			<form class="inline-form"> {% csrf_token %}
		        				<div class="wrapper basic-info">

		        					
		    						<input type="hidden" id="id" value="{{info.username.id}}" name="id"/>
				    					

		    						<div class="float-left">

		      							<label>Name</label>
		      						
				    					<input type="text" class="username form-control input-small" size="100"  name="name"/>
				    				</div>
			
				    				<div class=" float-right">
				    					<label>Username</label><br>
				    					<span class="fixed-field" id="">{{ user.username }}</span>
				    				</div>
					    			
					    		</div>

					    		<div class="clear"></div><br>

				    			<div class="wrapper basic-info">

				    				<div class="float-right">

				    					<label>Chapter</label><br>
				    					<span class="fixed-field" id="">//chapter{{chapter}}</span>
				    				</div>

				    				<div class=" float-left">
				    					<label>Blog/Website</label><br>
				    				
				    					<input type="text" class="homepage_url form-control input-small" size="100" name="homepage_url"/>

				    				</div>
			    				</div>

			    				<div class="clear"></div>

				  				<div class="buttons submit">
				  					<input class="button" type="submit" value="Save" />
				  					<a href="#" class="cancel-basicform cancel-bio">cancel</a>

				  				</div>

		        			</form>
		        		</div>
		        	</div> <!--profile ends -->

	        		<div class="clear"></div>

        		
        		</div> <!-- panel ends -->        

	        		<div class="clear"></div>
			    <br>

			    <ul class="nav nav-tabs" id="myTab">
			      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
			      <li><a href="#contributions" data-toggle="tab"><i class="fa fa-github"></i> Contributions</a></li>
			      
			    </ul>
							    
			    <div class="tab-content">
			    	<div class="tab-pane active" id="profile"> <br>
				      

				      	<div class="about-me ">	      
				      		<div id='skill-success'> </div>

				      		<div class="user-info">

				      			<div class="title-info">Summary</div>

				      			<div class="clear"></div>

				      			<div class="summary-section">

				      			</div>

				      		</div>

				      		<div class="user-info">
				      			
				      			<div class="title-info">Skills</div>

				      			<div class="clear"></div>
				      			
				      			<div class="skill-section">
				      				
				      				
					      			<div class="skills">

				      				</div>
				      				
				      			</div>			

				      			<div class="clear"></div>

			      				<div class="skill-form">

				      				<form class="edit-skill-form">{% csrf_token %}  							
				      					<div class="form-group">

						    			<label>Skills</label>
						    			<input type= "text" class="form-control tags" name="skills" placeholder="css or html, Illustrator" id="skills"/>

						  				</div>	

						  				<div class="buttons">
						  					<input class="button" type="submit" value="Save"/><a href="#" class="cancel-skillform">cancel</a>

						  				</div>
						  			</form>
						  		</div>

						  		<div class="addmore-skill"><i class="fa fa-plus"> Add/Edit Skills</i> <br></div>
				      					
				      				
				      		</div>

				      		<div class="user-info">
				      			<div id="exp-success"></div>

				      			<div class="title-info">Experience</div>

				      			 <br>


				      			 <div class="exp-section">			 

				      			 	{% for i in info.exp %}
				      				<div class="exps-title">

				      					<a href="#"><i class="fa fa-pencil float-right"></i></a><h5 class="skills">Company: {{i.company}}</h5>
				      					<h5 class="skills">Title: {{i.profile}}</h5>
				      					<h5 class="skills">Location: {{i.location}}</h5>
				      					<h5 class="skills">Duration: {{i.duration}}</h5>
				      					<h5 class="skills">Description: {{i.description}}</h5>
				      				</div>
				      				{% endfor %}

				      			</div>
				      			<div class="clear"></div>

				      			<div class="exp-form">

					      				<form class="edit-exp-form">{% csrf_token %}
					      					<div class="form-group">

					      						<label>Company</label>

							    				<input type = "text" class="form-control"  placeholder="name of the company you have worked with" name="company"/> <br>

							    				<label>Profile</label>
							    				<input class="form-control" placeholder="your profile as a trainee/intern" id="tags" size="50" name="profile"/>

							    				<label>Location</label>
							    				<input type = "text" class="form-control"  placeholder="work location" name="location" name="location"/> <br>

							    				<label>Duration</label>
							    				<input type = "text" class="form-control"  placeholder="time spent" name="duration" name="duration"/> <br>

							    				<label>Description</label>
							    				<input type = "text" class="form-control"  placeholder="some pointers you wish to add" name="skill-title" name="description"/> <br>

							  				</div>	
							  				<div class="buttons">
							  					<input class="button" type="submit" value="Save"/><a href="#" class="cancel-expform">cancel</a>

							  				</div>
							  			</form>
							  	</div>

							  	<div class="addmore-exp"><i class="fa fa-plus"> Courses/Internships/Training</i>
				      			</div>
				      		</div>
				      	</div>
				    </div>
				

				    <div class="tab-pane" id="contributions"><br>


                    	<p> this is the contribution page</p>



                  	</div>

	    		</div> <!--tab content ends -->	
	    	</div>
	    	

	    </div>

	    <div class="clear"></div>
	           
{% endblock %}

			