<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
  
   <title>
   Geeklab
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->
        
       
        <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}"/>
        <link rel="stylesheet" href="{%static 'css/hackathon.css'%}"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    
    <body>

			<div class="container">
        <nav class="navbar navbar-default" role="navigation">
              <div class="nav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Geeklab</a>
                </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="active"></li>                           
                  </ul>
                            
                  <div class="col-sm-3 col-md-3">
                      <form class="navbar-form" role="search">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search" name="q">
                              <div class="input-group-btn">
                                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                              </div>
                      </div>
                    </form>
                  </div>
                  <div id="nav-right-profile">
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="#">Learn</a></li>
                        <li><a href="#">Account</a></li>
                        <li><img width="30" height="30" alt="anurag619" src="http://he-s3.s3-website-ap-southeast-1.amazonaws.com/media/avatars/anurag619/resized/30/c438b1745f694d50ab8f6081ea8317a3"></img></li>
                                
                      </ul>
                  </div>
                </div>
              </div><!-- /.navbar-collapse -->
            </nav>                

            <div class="container">
                  <div class="hack-headline float-left bolder">Hackathons

                  </div>
                  <div class="hack-content">
                    <div class="events">
                      <div class="hack-box">
                        <div class="details">

                          <div class="logo"><img width="150" height="150" src="http://he-s3.s3-website-ap-southeast-1.amazonaws.com/media/cache/6d/16/6d169380b855219e4d2be52e6480c9be.png" alt="IIIT Jabalpur"></img>
                          </div>
                        </div>  

                      </div>
                      <div class="hack-box"> hackathon 2

                          <div class="logo">
                          </div>

                      </div>


                    </div>
                  </div>

            </div><!-- hack-page ends -->
             </div> <!--  container ends   -->

             <div id="footer">

            </div>


    
    
    </body>

</html>