<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
    	
	<link rel="stylesheet" href="{%static 'css/main.css'%}"/>
	<link rel="stylesheet" href="{%static 'css/student/layout.css'%}"/>
    
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
  
   <title>Geeklab</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap core CSS -->

        
        <!--link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"-->
		        

    </head>
    
    <body class="custom-imgs">

		<div class="container">


						<nav class="navbar navbar-default" role="navigation">
							<div class="nav">
							  <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<ul  class="nav navbar-nav navbar-left">
										<li><img class="g-logo" src="{%static 'img/logo@2x.png' %}" /></li>
								    	<li><a class="navbar-brand" href="/home">GeekLab</a></li>
								    	
								    </ul>
								</div>

									<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								   	
									<div id="nav-right-profile">
									    <ul class="nav navbar-nav navbar-right">
									      	
										    <li><a class="navbar" href="/corporate">Corporate Login</a></li>
										    
									    </ul>
									</div>
								</div>
							</div><!-- /.navbar-collapse -->
						</nav>								

				
				<div class="container">
					    <div class="omb_login">
					    	
							<div class="row omb_row-sm-offset-3 omb_socialButtons">
							</div>

							<div class="login-main">

								<!-- signup-->
								
								<div class="signup float-left home">
									<p class="signin-head"> New to Geeklab?</p>

									{% if error %}
										<strong>{{form.errors}}</strong>
									{% endif %}

								<div class="col-xs-12 col-sm-6">	
								    <form class="omb_loginForm homeform" action="/student/register" method="POST" name='registerForm'>
								    	{% csrf_token %}
								    	
										<div class="input-group">
											
											<input type="text" class="form-control" name="username" placeholder="username" id="username">
						

										</div>
										<span class="help-block"></span>

										<!--div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" class="form-control" name="email" placeholder="email">
										</div
										<span class="help-block"></span>
										-->
										<div class="input-group">
											<input class="form-control" id="password" placeholder="Password" name="password" type="password" value="">
										</div>
										<span class="help-block"></span>
															
										<div class="input-group">
											
											<input  type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
										</div>
					                    <span class="help-block"></span>

										<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
									</form>
								</div></div>

								<!-- signin -->
								
								<div class="signup float-right home">
									<p class="signin-head">Already a member?</p>
								<div class="col-xs-12 col-sm-6">	
								    <form class="omb_loginForm" action="/student/login" method="POST" name="loginForm">
								    	{% csrf_token %}
										<div class="input-group">
											
											<input type="text" class="form-control" name="username" placeholder="username" required>
										</div>
										<span class="help-block"></span>
															
										<div class="input-group">
											
											<input  type="password" class="form-control" name="password" placeholder="Password" required>
										</div>
					                    <span class="help-block"></span>

										<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
									</form>
								

										<!--div class="col-xs-12 col-sm-3">
											<label class="checkbox">
												<input type="checkbox" value="remember-me">Remember Me
											</label>
										</div-->
										<div class="pass">
											<p><a href="#">Forgot password?</a></p>
										</div>

								</div></div>
							
					    	</div>
							    	
						</div>
				</div>  <!-- main-content ends -->

				<div class="clear"> </div>

		</div> <!--  container ends   --> 


		 <div class="col-md-12 text-center footer hom-foo">
				<p >Copyright © 2014 GeekLab LLP </p>
		</div>
    
    
    </body>
    
    <script src="{%static 'js/jquerymin1.11.js'%}"></script>
    <script src="{%static 'js/jquery.validate.min.js'%}"></script>

    <script>
        $(document).ready(function(){
        	console.log("ready")
        	$("form[name=loginForm]").validate()
        	$("form[name=registerForm]").validate({
		        rules: {
		            username: {
		                required: true,
		                minlength: 6
		            },
		            password: {
		                required: true,
		                minlength: 8  // <-- removed underscore
		            },
		            confirmPassword: {
		                equalTo:"#password"
		            }

		        },
		        messages: {
		            username: {
		                required: "username is required",
		                minlength:"Name should be at least {0} characters long"
		            },
		            password: {

		                required: "password is required",
		                minlength: "password should be at least 8 characters long" // <-- removed underscore
		            },
		            confirm_password:{
		            	required:"password is required",
		            	minlength:"password should be atleasr 8 characters long",
		            	equalTo:"passwords do not match"
		            }
		        }

    		})

    	

    		$verify_username = function(element){
				$.ajax({
					url: "/verify_username",
					type: "POST",
					data: {username:$("form[name=registerForm] :input[name='username']").val(),csrfmiddlewaretoken:$csrftoken},
					dataType:'json',
					success:function(data){
						$validator = $("form[name=registerForm]").validate();
						console.log(data)
						if (data.msg == "false"){
							errors = { username : 'Username already taken'};
							$validator.showErrors(errors);
						}
						else{
							$validator.successList.push(element);
						}
						
					}
				
				});
			}
		
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			
			$csrftoken = getCookie('csrftoken');	

			function update_csrftoken(){
				$("input[name='csrfmiddlewaretoken']").val($csrftoken)
			}

			$("form[name=registerForm] :input[name='username']").keyup(function(){
				if($(this).val().length > 6){
					$verify_username($(this))	
				}
				
			})

        })
		
    </script>
</html>