
.float-right{
  float: right;
}

.float-left{
  float: left;
}

.space-bottom{
  margin-bottom: 20px;
}
/* ----login css ---- */


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login{
  width: 100%;
  margin: 0 auto;
}

.social-button{
  margin-right: 25px;
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}
  
.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg 
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

  
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }   
}

.login-main{
  width: 75%;
  margin-left: auto ;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px !important;
}

.hom-foo{
  margin-top: 17%; 
  background-color: #464646;
  color: #000;
}

.signup{
  
  padding: 20px 10px 10px 10px;
  width: 40%;
  border: 1px solid #E6E6E6;
  margin-right: 20px;
  color: #ddd !important; 
  border-radius: 5px;
}

.signin-head{
  font-size: 25px;
}

.intro-divider{
  border: 1px solid #ccc;
  width: 90%;
  margin-bottom: 5%;
}

.pic {
    width: 150px;
    margin-bottom: 7px;
}

.pass{
  width: 115px;
  font-size: 13px;
}

.container,.navbar{
      margin-bottom: 0px;
    }
    .intro-divider,.omb_authTitle{
      margin-top: 0px;
    }
    .footer-text{
      padding-top: 15px;
      color:#eee;
    }
    .error{
      color:rgb(59, 38, 105);
    }

.panel {
    float: right !important;
}


.random-img{
  height: 75px;
  width: 75px;
}

.random-img1{
  height: 50px;
  width: 50px;
  padding: 5px;
}

.space{
  margin-bottom: 10px; 
}

small{
  font-family: Courier, Monaco, monospace;
  font-size: 20px;
  font-weight: bold; 
}

/*-----------dashboard ends---------------  */

.clear {
    clear: both;
  }

.nav-side{
  padding-top: 10px;

}

.option-top{
  background-color: #E5F1E6 !important;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.option-top1{

  height: 70px !important;
  min-width: 70px !important;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.176);
  font-weight: bold !important;
  font-size: 15px !important;

}

.options{
  height: 50px;
}

.btns{
  height: 10%;
  width: 10%;
  margin-left: 5%;

}

.g-logo{
  padding-top: 5px;
  padding-left: 5px;
  height: 45px;
  width: 45px;
}

.custom-imgs{
  background: url('/static/img/3.jpg') no-repeat;
  background-size: 100%;
}

.timelines{
  padding-top: 10px;
  margin-left: 50px;
}
.timelines1{
  padding: 10px;
  margin-left: 50px;
}

.btn-group .text{
  visibility: hidden;
  position: absolute;
  bottom: -5px;
  position: relative;
  color: #0B5FAF;
  text-align: center;
}

.btn-group:hover .text{
  visibility: visible;
}

.sidebar{
  margin-bottom: 20px;
}

.sidebar-head{
  margin-bottom: 20px;
  font-size: 15px;
  background-color: #2EA2CC;
  color: #FFF;
  padding: 13px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(120, 200, 230, 0.698) inset, 0px 1px 1px rgba(0, 0, 0, 0.6);
  font-family: latoregular,Arial,sans-serif;
}


/*-----hackathon page ---  */
.hack-page{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
	min-height: 700px;

}

.hack-headline{
	float: top;
	width: 300px;
	height: 100px;
	font-size: 19px;
	margin-bottom: 15px;
}

.hack-content{
	width: 100%;
	min-height: 150px;
	padding-top: 5px;

}

.events{
	width: 100%;
font-size: 15px;
padding-bottom: 20px;
margin-top: 35px;
}

.hack-box{
	margin-bottom: 25px;
	width: 1000px;
	height: 200px;
	box-shadow: 0px 0px 5px #AAA ;
	padding: 15px 5px 5px 5px;
}

.details{
	position: absolute;
	width: 40%;
	float: left;
	margin-right: 30px;

}

/*-----edit page ---  */

.edit{
  margin-left: 5%;\
}


.edit-basic
{
  display: none;
  background-color: #F0F0F0;
  border: 1px solid #B7B7B7;
  color: #000;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px #82CDF3 inset;
}

.about-me{
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

.user-info{
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;

}

.title-info{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Bitter',sans-serif;
    border-bottom: 1px solid #DDD;
}

.e-skill{
  cursor: pointer;
  font-weight: bold;
}


.addmore-skill, 
.addmore-exp,
.addmore-chap {
  text-align: center;
  cursor: pointer;
  padding: 15px 0px;
  font-family: 'Arial',sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #1ABB9C;
  margin: 5px 10px 10px;
}

.summary-section,
.skill-section,
.exp-section {
  
  padding: 5px;
  margin-bottom: 15px;
  font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
  color: #003274;
  border-radius: 5px;

}

.skills,
.exps-title {
  padding: 25px;
  
}

.skills span{
  font-size: 14px;
  background: none repeat scroll 0% 0% #EDEDED;
  display: inline-block;
  float: left;
  margin: 5px 6px 0px 0px;
  padding: 2px 8px;
}


.edit-forms{
  margin-top: 20px;
  padding: 5px 0 5px 20px; 
  display: none;
}

form label, form .label {
    font-family: 'Bitter',sans-serif;
    font-size: 14px;
    color: #000;
}

.skill-form,
.skills-form,
.exp-form,
.chapter-form{
  display: none;
  margin-bottom: 20px;
  padding-left: 25px;
}

.col-md-3 {
    width: 20% !important;
  }

.col-md-8 {
    width: 72.667% !important;
}

.button{
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  background-color: #1ABB9C;
  text-align: center;
  min-width: 60px;
  color: #fff;
  border: 1px solid #1D87BC;
  border-radius: 3px;

}

.cancel-skillform,
.cancel-expform ,
.cancel-chapform,
.cancel-bio{
  margin-left: 5px;

}

.input-small{
  width: 250px !important;
}

.edit-info{
  
  padding: 5px 20px 5px 10px;
  width: 100%;
  

}

.submit{
  margin-top: 10px;
}

.wrapper{
  margin-bottom: 20px;
}

.fixed-field{
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
}


/* ---------profile tab------ */



/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}

.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}

.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}

.navbar-footer 
{
    background-color: #34495E;
}

.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}


.tab-content {
    padding: 10px;
    background-color: #f9f9f9;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    border-radius: 3px;
    min-height: 550px;
}

.footer{
  background-color: #ddd;
}